<div class="section section-contact-us text-left" >
    <div class="container">
        <div class="problem-commit"> <i>madazmoney</i></div>
        <div class="font-roboto-thin"><span style="color: rgb(72, 47 ,247);">madazmoney</span> affectionately known
            in the trading community.</div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6">
                <img class="problem-img" src='assets/img/images/problem1.jpg'>
            </div>

            <div class="col-12 col-sm-12 col-md-6">
                <div>
                    <!-- <apx-chart [series]="bar_chartOptions.series" [chart]="bar_chartOptions.chart"
                        [dataLabels]="bar_chartOptions.dataLabels" [plotOptions]="bar_chartOptions.plotOptions"
                        [xaxis]="bar_chartOptions.xaxis" [yaxis]="bar_chartOptions.yaxis"
                        [annotations]="bar_chartOptions.annotations">
                    </apx-chart> -->
                </div>
            </div>
        </div>
        <div class="current-content text-center">Share this chart</div>
    </div>
</div>