<div id="footer">
    <div class="container">
        <div class="row">
            <div class="ft-link col-12 col-sm-12 col-md-12 col-lg-6">
                <div class="row">
                    <div class="ft-box col-12 col-sm-4 col-md-4">
                        <div class="text-btm">CONTACT US</div>
                        <div><a href="#">+12 345 678 903</a></div>
                        <div><a href="#">dev@mail.com</a></div>
                        <div><a href="#">Find a Store</a></div>
                    </div>
                    <div class="ft-box col-12 col-sm-4 col-md-4">
                        <div class="text-btm">INFORMATION</div>
                        <div><a href="#">Work With Us</a></div>
                        <div><a href="#">Privacy Policy</a></div>
                        <div><a href="#">Term & Conditions</a></div>
                    </div>
                    <div class="ft-box col-12 col-sm-4 col-md-4">
                        <div class="text-btm">CUSTOMER RERVICE</div>
                        <div><a href="/about">Contact Us</a></div>
                        <div><a href="#">Shipping</a></div>
                        <div><a href="#">Returns</a></div>
                        <div><a href="#">FAQ</a></div>
                    </div>
                </div>
            </div>
            <div class="ft-sub col-12 col-sm-12 col-md-12 col-lg-6">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6">
                        <div class="sub-title">Subscribe via Email</div>
                        <div class="sub-content">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</div>
                        <!-- <div class="d-flex">
                            <input type="text" class="sub-input" placeholder="Email Address">
                            <button class="btn btn-sub" type="button">SUBSCRIBE</button> 
                        </div>   -->
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 text-right ft-bottom-title">
                        © WEB DEV Guru 2020
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>